*{
margin: 0;
padding: 0;
text-decoration:none;
list-style: none;
}

nav{
    background-color: rgba(0, 0, 0, 0.86);
    height:70px;
    overflow: hidden;
}
body{
    background-image: url(bmwbg.png);

}

img{
    margin:10px 30px;
    cursor:pointer;
}
ul{
   
    float: right;

}

ul > li{
  
    display:inline-block;
    margin:25px 20px;
}

ul > li > a{
    color:white;
    font-size: 1.1rem;
}

li :hover{
    color:rgb(9, 194, 241);
}

.b{
    margin: 0 100px;
}

.b1{
    background-color: white;
    width:75px;
    margin:10px;
    height:40px;
    border-radius: 10px;
    border:1.5px solid rgb(50, 255, 9);
    
}

.b1 > a{
    color:rgb(50, 255, 9);
font-weight:600;
}

.b1:hover{
    background-color: rgb(15, 227, 255);
    width:75px;
    margin:10px;
    height:40px;
    border-radius: 10px;
    border:none;
}

.b1 a:hover{
    color:black;
}

.b2{
    background-color: red;
    width:75px;
    height:40px;
border-radius: 10px;
    margin:20px;
    border:none;
}

.b2 >a{
    color:rgb(255, 255, 255);
    font-weight:600;
}

.b2:hover{
    background-color: rgb(197, 10, 10);
    width:75px;
    height:40px;
border-radius: 10px;
    margin:20px;
    border:none;
}

.b2 > a:hover{
    color:rgb(30, 218, 235);
    font-weight:600;
}

