* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    
    background-color: rgb(29, 132, 192);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
    height: 80px;
    margin: 0 auto;

}

.logo {
    font-family: sans-serif;
    color: #FE7201;
    width: 10%;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

ul {
    display: flex;
    align-items: center;
    gap: 10%;
    width: 40%;
    height: 100%;
    justify-content: space-between;
}

ul li a {
    font-family: sans-serif;
    color: white;
}

ul li:hover a{
    font-family: sans-serif;
    color: #FE7201;
    font-weight: bold;
    transition:all 0.2s ease;
}

.search {
    display: flex;
    width: 16.5%;
}

.search input::placeholder {
    padding-left: 5px;
    color: white;
}

.search input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: transparent;
    border: 2px solid #FE7201;
    width: 70%;
    height: 35px;
}

.search_button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    height: 35px;
    width: 72px;
    background-color: #FE7201;
}

.search_button a {
    color: white;
}

.main-container {
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 600px;
}

.left-section {
margin-left: 7%;
    height: auto;
    width: 60%;
}

.heading-left h1 {
    line-height: 45px;
    font-size: 2.5rem;
    color: white;
}

.heading-left h1 span {
    font-size: 3rem;
    color: rgb(255, 119, 0);
}

.heading-left p {
    font-family: sans-serif;
    line-height: 23px;
    font-size: 0.95rem;
    word-spacing: 3px;
    color: #eeeeee;
    margin-top: 5px;

}

.btn-join-us {
    cursor: pointer;
    width: 120px;
    border: none;
    height: 33px;
    border-radius: 8px;
    margin-top: 20px;
    background-color: rgb(255, 119, 0);
}

.btn-join-us:hover{
    transition: all 0.3s ease;
    background-color: rgb(0, 0, 0);
}

.btn-join-us a {
    color: rgb(0, 0, 0);
}

.btn-join-us:hover a{
    transition: all 0.3s ease;
    color: rgb(255, 119, 0);
}


.right-section {
    width: 23%;
    display: flex;
    align-items: center;
    height: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6%;
    background-color: #00000075;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 75.5%;
    border-radius: 12px;
}

.heading-log-in {
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: #fbfbfb;
}

.heading-log-in h3 {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgb(255, 119, 0);
}

.form-section input {
    width: 100%;
    margin-top: 20px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 119, 0);
}

.form-section input:focus{
    color: rgb(243, 142, 0);
    outline: none;
}
.form-section input::placeholder {
    color: white;
}

.form-section p {
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}


.small-text-log-in {
    color: white;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.form-section span {
    cursor: pointer;
    color: rgb(255, 119, 0);
}

.form-section span:hover{
    transition: 0.2s all ease;
    color: rgb(134, 134, 134);
}

.log-in {
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: none;
    background-color: rgb(255, 119, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.log-in:hover{

    transition: 0.4s all ease-in-out;
    background-color: rgb(248, 248, 248);
    color: rgb(255, 119, 0);
}
.icons-main-box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.icons-main-box .icon-box {
    font-size: 1.8rem;
}

.icons-main-box .icon-box a {
    color: white;
}

.icons-main-box .icon-box:hover a {
    transition: 0.3s all ease-in-out;
    color: rgb(255, 119, 0);
}